body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: white;
}

@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel-fade .carousel-inner > .item.next,
	.carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.carousel-fade .carousel-inner > .item.prev,
	.carousel-fade .carousel-inner > .item.active.left {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.carousel-fade .carousel-inner > .item.next.left,
	.carousel-fade .carousel-inner > .item.prev.right,
	.carousel-fade .carousel-inner > .item.active {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
.item:nth-child(1) {
	background: url(../images/cleveland.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.item:nth-child(2) {
	background: url(../images/NYC.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.item:nth-child(3) {
	background: url(../images/sanfran.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.carousel {
	z-index: -99;
}
.carousel .item {
	position: fixed;
	width: 100%;
	height: 100%;
}
.title {
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	text-shadow: 2px 2px #000;
	color: #fff;
}

 /*end of carousel */

/*.navbar {margin-top:15px;
}*/

.container {
	margin-top: 100px;
	margin: 0 auto;
	width: 780px;
	background-color: rgba(128, 128, 128, 0.356);
	border-radius: 15px;
	padding: 20px;
}

.navbar.navbar-inverse {
	margin-bottom: 0;
}

#jump {
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Nanum Gothic', sans-serif;
	font-variant: small-caps;
	font-size: 50px;
	background-color: lightgrey;
	padding-left: 20px;
	opacity: 0.5;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
}
* {
	box-sizing: border-box;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus,
input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for all buttons */
button {
	background-color: black;
	color: white;
	padding: 10px 8px;
	margin: 8px 0px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
	font-size: 16px;
}

button:hover {
	opacity: 1;
}
li {
	margin-right: 15px;
}

/* Extra styles for the cancel button */
.cancelbtn {
	padding: 10px 20px;
	background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
	float: left;
	width: 50%;
}

/* Add padding to container elements */
.container {
	padding: 16px;
}
span.psw {
	float: right;
	padding-top: 16px;
}

/* The Modal (background) */
.id01 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #474e5d;
	padding-top: 50px;
}

/* The Modal (background) */
.id02 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: red;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

/* venue-div & weather-div styling css */
#venue-div {
    margin: 0 auto;
    width: 780px;
    text-align: center;
}

#venue-div img:hover {
    border: 2px solid rgba(0, 0, 0, 0.8);
}

#venue-div img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-top: 15px;
    float: left;
}

#venue-div h2, #venue-div h3 { 
    padding: 1px;
}

#venue-div h3 {
    font-size: 15px; 
}

#venue-div h2 {
    font-size: 18px;
}

#weather-div {
    margin: 0 auto;
    width: 780px;
    text-align: center;
    padding: 15px;
}

#weather-div h2 {
    font-size: 22;
}

#weather-div h4 {
    font-size: 18;
}

.weatherGroup {
    margin: 20px;
}
